* {
    margin: 0;
    padding: 0;
}

#content {
    line-height: 1.8em;
}

pre {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h2 {
    font-size: 150%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h3 {
    font-size: 120%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h4 {
    font-size: 110%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h5 {
    font-size: 100%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h6 {
    font-size: 90%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

code {
    font-family: "Courier New",sans-serif !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    border-radius: 3px !important;
    line-height: 1.8;
    margin: 1px 5px;
    vertical-align: middle;
    display: inline-block;
}

a:link, a:visited {
    color: #1e89e7;
    text-decoration: none;
}

ul {
    margin-left: 30px;
    padding-left: 0;
    word-break: break-all;
}

    ul li {
        list-style-type: disc;
        margin-bottom: 1em;
    }

.cnblogs_code {
    background-color: #f5f5f5;
    font-family: Courier New !important;
    font-size: 12px !important;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    margin: 5px 0;
    color: #000;
}
